<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="GRAYLOG_HOST" value="${ENV_GRAYLOG_HOST:-graylog}" />
    <property name="GRAYLOG_PORT" value="${ENV_GRAYLOG_PORT:-12201}" />

    <!-- Log no console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Log no Graylog via GELF -->
    <appender name="GRAYLOG" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>${GRAYLOG_HOST}</graylogHost>
        <graylogPort>${GRAYLOG_PORT}</graylogPort>
        <encoder class="de.siegmar.logbackgelf.GelfEncoder">
            <shortPattern>%msg</shortPattern>
            <includeMdcData>true</includeMdcData>
            <includeSource>true</includeSource>
        </encoder>
        <staticFields>
            <field>app=${spring.application.name}</field>
            <field>env=dev</field>
        </staticFields>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="GRAYLOG" />
    </root>
</configuration>
